@model CartViewModel

<div class="container">
    @foreach (var m in Model.storeCart.ListItems)
    {
        <div class="alert alert-warning mt-3">
        <b>Автомобиль:</b> @m.car.Name<br />
        <b>Стоимость:</b> @m.car.Price.ToString("c")
        </div>
    }
    <hr />
    <a class="btn btn-danger mb-5" asp-controller="Order" asp-action="Checkout">Записаться на просмотр</a>
</div>