@model CartViewModel

<div class="container">
    @foreach (var m in Model.storeCart.ListItems)
    {
        
        <div class="alert alert-warning mt-3">
            <img class="img-thumbnail" img width="10%" height="auto"
             src="data:image/jpeg;base64,@(Convert.ToBase64String(m.car.Img))" /> <br/>
        <b>Автомобиль:</b> @m.car.Name<br />
        <b>Стоимость:</b> @m.car.Price.ToString("c")

            <div class="float-sm-right">
            @using (Html.BeginForm("RemoveCar", "Cart"))
            {
                @Html.Hidden("Id", m.car.Id)
                
                <input type="submit"
               class="btn btn-warning me-3"
                 value="Удалить" />
                    
            }
            </div>
        </div>
    }
        
    <hr />
    <a class="btn btn-danger mb-5" asp-controller="Order" asp-action="Checkout">Записаться на просмотр</a>
</div>