@model IEnumerable<Shop.Data.EF.User>
@{
    ViewBag.Title = "Список пользователей";
}
<div class="panel panel-default">
    <div class="panel-heading">
       <h3>Админ: Пользователи</h3><br />

        <a class="btn btn-success mb-3" asp-controller="Roles" asp-action="Index">Роли</a><br />

<table class="table">
    <tr><th>Email</th><th>Год рождения</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Year</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

