@model FavoriteViewModel


<h1>Рекомендации</h1>

<div class="row mt-5 mb-2">
    @{
        foreach (Car car in Model.favoriteCars)
        {
            @Html.Partial("AllCars",car)
        }

    }
</div>
